<!-- <p>property-binding works!</p>
<input type="text" [disabled]="enebled" name="n1" [value]=" enebled ? myValue:yourValue"/>
 **property-binding **
<br><br>
<input type="text" [disabled]="enebled" name="n1" bind-value=" enebled ? myValue:yourValue"/> -->

<!-- 
<div class="myDiv" [class.text]="false">
    Pawan Kumar Singh
</div>

<br>
<div class="myDiv" [style.margin]="style1">
    Pawan Kumar Singh
</div>
<br><br>
<div class="myDiv" [ngClass]="manyClass">
    Pawan Kumar Singh
</div>
<br>
<br>
<div class="myDiv" [ngStyle]="{'background-color':'red'}">
    Pawan Kumar Singh
</div>
<br><br>
<div class="myDiv" [ngStyle]="manyStyles">
    Pawan Kumar Singh
</div> -->

