<app-header></app-header>
<router-outlet></router-outlet>
<!-- 
<h2>Wekcome to my angular project {{name}}</h2><p>{{name.length}}</p>
<br><br><br>
{{3435+243}}
<br><br><br>
{{dabbang()}}
<br><br><br>
<br><br><br>
{{
"My Name is:-"+name
}}
<br><br><br>
we are 
{{
status?'available':'not avaible '

}} -->

<!-- <app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-two-way-component-binding></app-two-way-component-binding>


<div style="margin:20px;">
    <h1>Welcome to {{name}}</h1>
    <input type="Text" name="company" #val>
    <button (click)="submitButton(val)">Submit</button>
    <br><br>
    <app-child [company]="value">{{value}}</app-child>
</div>

<div style="margin:20px;">
    <h1>Welcome to {{name}}</h1>
    <input type="Text" name="company" #val>
    <button (click)="submitButton(val)">Submit</button>
    <br><br>
    <app-child [company]="value" *ngIf="status" >{{value}}</app-child>

    <button (click)="removeChild()">Destroy Component</button>
</div> -->

<!-- app.component.html -->
<!-- app.component.html -->

<!-- 
<section>

  <select (change)="showBlock($event)" >
    <option value="show"> Show</option>
    <option value="hide"> Hide</option>
  </select>
<div class="form-container"  *ngIf="status; then ifBlock; else elseBlock">
    <h1>Simple Form</h1>
    <form>
      <div class="form-group">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name">
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email">
      </div>
  
      <div class="form-group">
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50"></textarea>
      </div>
  
      <button type="submit">Submit</button>
    </form>
  </div>

<ng-template #ifBlock>
  <h1>THis is then block</h1>

</ng-template>
  <ng-template  #elseBlock>
    <h1>This is your else block</h1>
  </ng-template>
</section>
  
   -->

<!-- 

<section>

  <select (change)="showBlock($event)">
    <option value> Select Form</option>
    <option value="form1"> From1</option>
    <option value="form2"> Form2</option>
    <option value="form3"> Form3</option>
    <option value="form4"> Form4</option>
  </select>

  <div class="switch" [ngSwitch]="selectedForm">
    <h1 *ngSwitchDefault="">Please Select the form </h1>
    <div class="form-container" *ngSwitchCase="'form1'">
      <h1>Simple Form 1</h1>
      <form>
        <div class="form-group">
          <label for="name">Name:</label><br>
          <input type="text" id="name" name="name">
        </div>

        <div class="form-group">
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email">
        </div>

        <div class="form-group">
          <label for="message">Message:</label><br>
          <textarea id="message" name="message" rows="4" cols="50"></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="form-container"  *ngSwitchCase="'form2'">
      <h1>Simple Form2</h1>
      <form>
        <div class="form-group">
          <label for="name">Name:</label><br>
          <input type="text" id="name" name="name">
        </div>

        <div class="form-group">
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email">
        </div>

        <div class="form-group">
          <label for="message">Message:</label><br>
          <textarea id="message" name="message" rows="4" cols="50"></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="form-container"  *ngSwitchCase="'form3'">
      <h1>Simple Form2</h1>
      <form>
        <div class="form-group">
          <label for="name">Name:</label><br>
          <input type="text" id="name" name="name">
        </div>

        <div class="form-group">
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email">
        </div>

        <div class="form-group">
          <label for="message">Message:</label><br>
          <textarea id="message" name="message" rows="4" cols="50"></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="form-container"  *ngSwitchCase="'form4'">
      <h1>Simple Form4</h1>
      <form>
        <div class="form-group">
          <label for="name">Name:</label><br>
          <input type="text" id="name" name="name">
        </div>

        <div class="form-group">
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email">
        </div>

        <div class="form-group">
          <label for="message">Message:</label><br>
          <textarea id="message" name="message" rows="4" cols="50"></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

</section> -->



<!-- 

<section>

  <h2>Movies</h2>
  <ul>
    <li *ngFor="let movie of movieList">
      <div>
        <p>Name: {{ movie.name }}</p>
        <p>Release Date: {{movie. releasedate }}</p>
      </div>
    </li>
  </ul>
  

</section> -->


<!-- @@@@@####create custom list #####-->
<!-- <section>
  <div class="row">
    <div class="from-group col-md-3">
      <input type="from-control" type="text" name="title" placeholder="Movie Title" [(ngModel)]="title">
    </div>

    <div class="from-group col-md-3">
      <input type="from-control" type="text" name="title" placeholder="Movie ReleseDate" [(ngModel)]="releaseDate" />
    </div>

    <div class="from-group col-md-3">
      <input type="from-control" type="text" name="title" placeholder="Movie Url" [(ngModel)]="movieUrl" />
    </div>
    <div class="from-group">
      <button class="btn-btn-primary" (click)="submitForm()">Submit</button>
    </div>
  </div>





</section>


<div class="container mt-4">
  <div class="row">

    <div class="card" *ngFor="let movie of movieList; let i=index">
      <img src="{{movie.movieUrl}}" class="card-img-top" alt="...." width="100px"/>
      <p appChangeColor>Name: {{ movie.title }}</p>
      <p>Release Date: {{ movie.releaseDate }}</p>
      <a class="btn-btn-primary" (click)="removeBlock(i)">Remove</a>

    </div>
  </div>
 

</div> -->



<!-- 

  input decotaros
 -->

 <div style="margin:30px">

<h1>Welcome to {{name}}</h1>
<br><br><br>
<input type="text" name="empName" #empName/>
<button (click)="submitForm(empName)">Submit</button>

<app-child [empDetails]="data"></app-child>

</div>
